---
import SectionTitle from "@components/shared/SectionTitle.astro";
import MainSegment from "@components/shared/MainSegment.astro";
import Link from "@components/shared/Link.astro";
import { Image } from "astro:assets";
import FirstEngineer from "./img/engineer-1.png";
import SecondEngineer from "./img/engineer-2.png";
import ThirdEngineer from "./img/engineer-3.png";
import FourthEngineer from "./img/engineer-4.png";
---

<script>
	// const employeePortrait = document.querySelectorAll("team__member-portrait");
	// const employeeName = document.querySelectorAll("member__name");

	// function onNameClick() {}

	// employeeName.addEventListener("click", onNameClick);
</script>

<MainSegment>
	<div class='team__wrap'>
		<div class='team__intro'>
			<SectionTitle> Our Team Members </SectionTitle>
			<h3 class='team__headline'>Our Dedicated Team Members.</h3>
			<p class='team__caption'>
				In today's world, we're bombarded with choices. From streaming
				services to meal kits, it can be overwhelming to find the best
				option.
			</p>
			<Link
				theme='neutral'
				href='todo'
			>
				See All Members
			</Link>
		</div>
		<div class='team__member-portraits'>
			<Image
				src={FirstEngineer}
				alt=''
				class='team__member-portrait'
			/>
			<Image 				
				src={FirstEngineer}
				alt=''
				class='team__member-portrait'
			/>
		</div>
		<!-- todo: сгенерировать текст про команду -->
		<div class='team__members'>
			<ul class='members__list'>
				<li class='members-list__member'>
					<p class='member__name'>Wade Warren</p>
					<p class='member__position'>Architect</p>
				</li>
				<li class='members-list__member'>
					<p class='member__name member__name--active'>
						Brooklyn Simmons
					</p>
					<p class='member__position'>Architect Designer</p>
				</li>
				<li class='members-list__member'>
					<p class='member__name'>Jonson Duoing</p>
					<p class='member__position'>Architect</p>
				</li>
				<li class='members-list__member'>
					<p class='member__name'>Esther Howard</p>
					<p class='member__position'>Architect</p>
				</li>
			</ul>
		</div>
	</div></MainSegment
>
<style>
	.team__wrap {
		display: flex;
		align-items: flex-start;
		background-color: white;
		grid-column: 2/3;
	}
	.team__intro {
		max-width: 28rem;
		margin-right: 4rem;
		margin-bottom: 9rem;
	}
	.team__title {
		margin-bottom: 1rem;
	}
	.team__headline {
		font-size: 3rem;
		font-weight: 600;
		line-height: 4rem;
		margin-bottom: 0.6rem;
	}
	.team__caption {
		margin-bottom: 2.6rem;
	}
	.team__member-portraits {
		width: 26rem;
		height: 30rem;
		margin-right: 4rem;
	}
	.team__members {
		text-align: right;
		padding-top: 2.7rem;
	}
	.members-list__member {
		font-size: 1.4rem;
		margin-bottom: 2rem;
	}
	.member__name {
		font-weight: 600;
	}
	.member__name--active {
		font-size: 1.8rem;
		color: #ff6600;
		text-decoration: underline;
	}
	.member__position {
		font-weight: 400;
	}
</style>
