---
interface Props {
	theme: "neural" | "primary";
	href: string;
}

const { href, theme } = Astro.props;
---

<a
	href={href}
	data-theme={theme}
>
	<slot />
	->
</a>

<style>
	a[data-theme="neutral"] {
		background: white;
		color: black;
	}

	a[data-theme="primary"] {
		background: var(--brand-primary);
		color: white;
	}
</style>
