---
interface Props {
	rotation?: "right" | "left";
	position?: "top" | "bottom";
	vertAligned?: "true";
}

const { rotation, position, vertAligned } = Astro.props;
---

<div
	data-rotation={rotation}
	data-position={position}
	data-vert-aligned={vertAligned}
>
</div>

<style>
	div {
		overflow-x: hidden;
		background-image: url("schema.svg");
		background-repeat: no-repeat;
		height: 545px;
	}

	div[data-rotation="right"] {
	}

	div[data-rotation="left"] {
		transform: scaleX(-1);
	}

	div[data-position="bottom"] {
		margin: auto 0 100px;
	}

	div[data-vert-aligned="true"] {
		margin-top: -140px;
	}
</style>
