---
import Schematic from "@components/shared/Schematic.astro";
import MainSegment from "@components/shared/MainSegment.astro";
import SectionTitle from "@components/shared/SectionTitle.astro";
---

<script>
	const STATUS_SPEED = 400;

	const statusSection = document.getElementById("sectionStatus")!;
	const statusCounters = statusSection.querySelectorAll("[data-id=status-num]");

	const myObserver = new IntersectionObserver(
		function (entries) {
			const [entry] = entries;
			if (!entry) {
				return;
			}

			if (entry.isIntersecting) {
				animateStatusNumbers();
				myObserver.disconnect();
			}
		},
		{ threshold: 0.3, rootMargin: "-100px" }
	);
	myObserver.observe(statusSection);

	function animate(element: HTMLElement) {
		const value = +(element.getAttribute("data-value") ?? 0);
		const data = +(element.textContent ?? 0);

		const time = value / STATUS_SPEED;
		if (data < value) {
			element.innerText = Math.ceil(data + time).toString();
			requestAnimationFrame(() => animate(element));
		} else {
			element.innerText = value.toString();
		}
	}

	function animateStatusNumbers() {
		statusCounters.forEach((counter) => {
			if (!(counter instanceof HTMLElement)) {
				return;
			}
			animate(counter);
		});
	}
</script>

<MainSegment>
	<div class="schematic">
		<Schematic />
	</div>

	<section
		class="status"
		id="sectionStatus"
	>
		<div class="status__title-wrapper">
			<SectionTitle>Our Company Status</SectionTitle>
		</div>
		<h3 class="status__subtitle">Trusted & Reliable</h3>

		<div class="status__stats">
			<div class="status__stat">
				<span
					class="status__number"
					data-id="status-num"
					data-value="110"
				>
					0
				</span>
				<span>+</span>
				<p class="status__number-descr">Completed projects</p>
			</div>
			<div class="status__stat">
				<span
					class="status__number"
					data-id="status-num"
					data-value="280"
				>
					0
				</span>
				<span>+</span>
				<p class="status__number-descr">Team Member</p>
			</div>
			<div class="status__stat">
				<span
					class="status__number"
					data-id="status-num"
					data-value="100"
				>
					0
				</span>
				<span>%+</span>
				<p class="status__number-descr">Client Satisfaction</p>
			</div>
			<div class="status__stat">
				<span
					class="status__number"
					data-id="status-num"
					data-value="30"
				>
					0
				</span>
				<span>+</span>
				<p class="status__number-descr">Running Project</p>
			</div>
		</div>
	</section>
</MainSegment>

<style>
	.status {
		width: 100%;
		max-width: 1300px;
		margin: 0 auto;

		font-family: var(--font-jost);
		font-weight: 600;
		color: var(--color-text-primary);
		text-align: center;
		grid-column: 2 / 3;
	}

	.status__title-wrapper {
		display: flex;
		justify-content: center;
		margin-bottom: 14px;
	}

	.status__subtitle {
		font-size: 52px;
		line-height: 62px;
		margin-bottom: 67px;
	}

	.status__stats {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.status__stat {
		padding: 50px 0;
		width: 100%;
		max-width: 306px;
		background-color: #f8f8f8;
		transition: all 0.2s linear 0s;
		cursor: pointer;
	}

	.status__stat:hover {
		background-color: var(--color-brand-primary);
	}

	.status__number {
		font-variant-numeric: tabular-nums;
	}

	.status__stat:hover .status__number,
	.status__stat:hover .status__number + span,
	.status__stat:hover .status__number-descr {
		color: #fff;
	}

	.status__number,
	.status__number + span {
		font-size: 52px;
		line-height: 62px;
		margin-bottom: 10px;
	}

	.status__number-descr {
		font-size: 24px;
		line-height: 34px;
		margin-top: 10px;
	}
</style>
