---
import Link from "@components/shared/Link.astro";
import { Image } from "astro:assets";
import EngineerPng from "./img/cheerful-engineer.png";
import CranePng from "./img/crane.png";
import TruckPng from "./img/hero-truck.png";
---

<!-- Todo: добавить усы букве T -->
<div>
	<section class="hero">
		<div class="hero__container">
			<div class="hero__content">
				<h1 class="heading-1">Experts In Construction</h1>
				<p class="text-desc">
					The construction industry boasts a diverse range of experts, each
					playing a crucial role in bringing a project from vision to reality.
				</p>
				<Link
					theme="primary"
					href="#"
				>
					Explore More
				</Link>
			</div>
			<div class="hero__image">
				<div class="hero-img-bg"></div>
				<div class="image">
					<Image
						src={EngineerPng}
						alt=""
					/>
				</div>
			</div>
		</div>
		<div class="corner-graidents">
			<div class="rect-gradient"></div>
			<div class="rect-gradient-2"></div>
		</div>
	</section>
	<div class="floating-graphic">
		<Image
			src={CranePng}
			alt=""
			class="crane"
		/>
		<Image
			src={TruckPng}
			alt=""
			class="truck"
		/>
	</div>
</div>

<style>
	.hero {
		isolation: isolate;
		grid-column: 1 / -1;
		background: linear-gradient(
			180deg,
			rgba(14, 14, 14, 0.6) 0%,
			rgba(14, 14, 14, 0.9) 100%
		);
		background-size: cover;
		background-repeat: no-repeat;
		padding-inline: 2rem;
		position: relative;
		overflow: hidden;
	}

	.hero__container {
		margin-inline: auto;
		max-width: 100rem;
		display: grid;
		align-items: center;
		padding-block: 4rem;
	}

	.hero__content {
		width: 56%;
		grid-area: 1 / -1;
	}

	.heading-1 {
		margin-bottom: 6px;
		font-family: var(--font-jost);
		font-weight: 600;
		font-size: 146px;
		line-height: 138px;
		color: #ffffff;
	}

	.text-desc {
		margin-bottom: 43px;
		font-family: var(--font-barlow);
		font-weight: 400;
		font-size: 24px;
		line-height: 34px;
		color: rgb(216, 216, 216);
	}

	.hero__image {
		grid-area: 1 / -1;
		justify-self: end;
		display: grid;
		max-width: 40rem;
		z-index: -1;
		isolation: isolate;
	}

	.hero-img-bg {
		grid-area: 1 / -1;
		z-index: -1;
		aspect-ratio: 85 / 100;
		clip-path: polygon(0% 50%, 100% 0%, 100% 100%, 0% 100%);
		border-bottom-left-radius: 10%;
		border-bottom-right-radius: 10%;
		background-color: var(--color-brand-primary);
	}

	.image {
		grid-area: 1 / -1;
		width: 100%;
		margin-top: auto;
	}

	.image img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}

	.corner-graidents {
		z-index: -2;
		position: absolute;
		left: 0;
		bottom: 0;
	}

	.rect-gradient {
		transform: translate(-6rem, -1rem) rotate(35deg);
		width: 600px;
		height: 6rem;
		background: linear-gradient(
			116.01deg,
			rgba(251, 91, 17, 0.3) 3.33%,
			#0b0b0b 77.77%
		);
	}

	.rect-gradient-2 {
		transform: translate(-2.5rem, -2rem) rotate(35deg);
		width: 300px;
		height: 4rem;
		background: linear-gradient(
			-90deg,
			rgba(251, 91, 17, 0.3) 1.71%,
			#0b0b0b 83.74%,
			rgba(50, 50, 50) 95.82%
		);
	}

	.floating-graphic {
		display: grid;
	}

	.truck {
		grid-area: 1 / -1;
		justify-self: center;
		width: 538px;
		transform: translateY(-50%);
	}

	.crane {
		padding-left: 3rem;
		grid-area: 1 / -1;
		width: 8rem;
	}
</style>
