---
import Link from "@components/shared/Link.astro";
import MainSegment from "@components/shared/MainSegment.astro";
import { Image } from "astro:assets";
import EngineerPng from "./img/cheerful-engineer.png";
---

<MainSegment>
	<section class="hero">
		<div class="hero__container">
			<div class="hero__content">
				<h1 class="heading-1">Experts In Construction</h1>
				<p class="text-desc">
					The construction industry boasts a diverse range of experts, each
					playing a crucial role in bringing a project from vision to reality.
				</p>
				<Link
					theme="primary"
					href="#"
				>
					Explore More
				</Link>
			</div>
			<div class="hero__image">
				<div class="image">
					<Image
						src={EngineerPng}
						alt=""
					/>
				</div>
			</div>
		</div>
        <div class="rect-gradient"></div>
        <div class="rect-gradient-2"></div>
		<div class="crane"></div>
        <div class="truck"></div>
	</section>
</MainSegment>

<style>
	.hero {
		position: relative;
		grid-column: 1 / -1;
		width: 100%;
		height: 850px;
        background: linear-gradient(180deg, rgba(14, 14, 14, 0.6) 0%, rgba(14, 14, 14, 0.9) 100%);
		background-size: cover;
		background-repeat: no-repeat;
	}

	.hero__container {
		position: relative;
		display: flex;
		justify-content: space-between;
        padding-top: 56px;
		/* padding: 56px 0 59px 0; */
		width: 1625px;
        height: inherit;
		margin: 0 auto;
	}

	.hero__content {
		padding-top: 142px;
		padding-bottom: 199px;
		width: 56%;
	}

	.heading-1 {
		margin-bottom: 6px;
		font-family: var(--font-jost);
		font-weight: 600;
		/* font-size: 158px; */
		font-size: 146px;
		line-height: 138px;
		color: #ffffff;
	}

	.text-desc {
		margin-bottom: 43px;
		font-family: var(--font-barlow);
		font-weight: 400;
		font-size: 24px;
		line-height: 34px;
		color: rgb(216, 216, 216);
	}

	.hero__image {
		position: relative;
		width: 40%;
        height: 722px;
		clip-path: polygon(0% 50%, 100% 0%, 100% 100%, 0% 100%);
		background-color: var(--color-brand-primary);
		border-radius: 10%;
        border-top-right-radius: 0%;
	}

	.image {
		position: absolute;
		top: 0%;
		left: 0%;
		width: 100%;
	}

	.image img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}

    .rect-gradient {
        transform: rotate(35deg) translate(-153px, -100px);
        width: 550px;
        height: 65px;
        background: rgb(97,52,9);
        background: linear-gradient(116.01deg, rgba(251, 91, 17, 0.3) 3.33%, #0B0B0B 77.77%, rgba(11, 11, 11, 0) 96.38%);
    }

    .rect-gradient-2 {
        transform: rotate(35deg) translate(-187px, -85px);
        width: 500px;
        height: 50px;
        background: rgb(97,52,9);
        background: linear-gradient(-155.09deg, rgba(251, 91, 17, 0.3) 1.71%, #0B0B0B 83.74%, rgba(11, 11, 11, 0) 95.82%);
    }

    .truck {
        width: 538px;
        height: 346px;
        background-image: url('img/hero-truck.png'); 
        background-repeat: no-repeat;
        background-size: cover;
        transform: translate(660px, -555px);
    }

    .crane {
        width: 78px;
        height: 237px;
        background-image: url('img/crane.png'); 
        background-repeat: no-repeat;
        background-size: cover;
        transform: translate(45px, -115px);
    }
</style>
