---
import Example from "@components/Example.astro";
import Shell from "@layouts/Shell.astro";
---

<Shell>
	<main>
		<div>Blank Page!</div>
		<Example title="example 1"><div class="slot-data">slot data 1</div></Example
		>
		<Example title="example 2"><div class="slot-data">slot data 2</div></Example
		>
		<Example title="example 3"><div class="slot-data">slot data 3</div></Example
		>
	</main>
</Shell>

<style>
	main {
		padding: 1rem;
	}

	.slot-data {
		color: red;
	}
</style>
