---
import { Image } from "astro:assets";

interface Props {
	img: ImageMetadata;
	title: string;
	values: Array<string>;
}

const { img, title, values } = Astro.props;
---

<div class="root">
	<Image
		src={img}
		alt=""
		class="image"
	/>

	<div class="description">
		<div
			class="title"
			aria-hidden
		>
			{title}
		</div>
	</div>

	<div
		class="description"
		data-hover
	>
		<div class="title">{title}</div>
		<ul class="values">
			{values.map((value) => <li>{value}</li>)}
		</ul>
	</div>
</div>

<style>
	.root {
		display: grid;
		overflow: hidden;
		scroll-snap-align: start;
	}

	.image,
	.description {
		grid-area: 1 / -1;
	}

	.image {
		width: 100%;
		height: 100%;
		z-index: -1;
		object-fit: cover;
		filter: brightness(0.4);
		transition-property: filter, scale;
		transition-duration: 500ms;
	}

	.root:hover .image {
		filter: brightness(0.2);
		scale: 1.2;
	}

	.description {
		padding: 1.5rem;
		align-self: end;
		transition: translate 200ms;
	}

	.root:hover .description:not([data-hover]) {
		translate: 0 100%;
	}

	.root:hover .description[data-hover] {
		transition-delay: 200ms;
	}

	.root:not(:hover) .description:not([data-hover]) {
		transition-delay: 200ms;
	}

	.root:not(:hover) .description[data-hover] {
		translate: -100% 100%;
	}

	.title {
		color: white;
		font-family: var(--font-jost);
		font-size: 2rem;
		font-weight: 600;
	}

	.values {
		color: var(--color-text-neutral);
		font-family: var(--font-barlow);
	}

	li {
		list-style: "+";
		padding-left: 0.25rem;
		margin-left: 0.75rem;
	}
</style>
