---
import { Image } from "astro:assets";
import logo from "@components/Footer/img/logo.svg";
---

<!-- todo - Добавить общий паддинг для шапки, чтобы контент к краям экрана не прилипал хотя бы на пк --><!-- todo - Адаптив.. Не знаю, что тут делать с адаптивом, возможно полностью убирать левую оранжевую область, и запихивать все в бургер -->
<div class="header-wrapper">
	<div class="header__inner">
		<div class="logo-wrapper">
			<a
				class="logo"
				href="#"
			>
				<Image
					class="logo-img"
					alt="Conbuild logo"
					width="221"
					height="75"
					src={logo}
				/>
			</a>
		</div>

		<div class="top">
			<adress class="adress">2464 Royal Ln. Mesa, New York</adress>

			<a
				class="mail"
				href="mailto:info@golzergmail.com"
			>
				info@golzergmail.com
			</a>

			<p class="opening-hours">Mon - Sat <time>8:00 - 18:20</time></p>
			<ul class="socials-list">
				<!-- todo - Поправить иконку фейсбука и цвета + ховер эффекты -->
				<!-- todo - Прижать блок с социалаками право -->
				<li class="socials-item">
					<a
						class="socials-link"
						href="#"
					>
						<svg
							fill="currentColor"
							viewBox="0 0 24 24"
							data-name="Flat Color"
						>
							<path
								d="M14 6h3a1 1 0 001-1V3a1 1 0 00-1-1h-3a5 5 0 00-5 5v3H7a1 1 0 00-1 1v2a1 1 0 001 1h2v7a1 1 0 001 1h2a1 1 0 001-1v-7h2.22a1 1 0 001-.76l.5-2a1 1 0 00-1-1.24H13V7a1 1 0 011-1z"
							></path>
						</svg>
						<span class="visually-hidden">Facebook</span>
					</a>
				</li>

				<li class="socials-item">
					<a
						class="socials-link"
						href="#"
					>
						<svg
							viewBox="0 0 24 24"
							fill="none"
						>
							<path
								fill-rule="evenodd"
								d="M12 18a6 6 0 100-12 6 6 0 000 12zm0-2a4 4 0 100-8 4 4 0 000 8z"
								fill="currentColor"
							></path>
							<path
								d="M18 5a1 1 0 100 2 1 1 0 000-2z"
								fill="currentColor"
							></path>
							<path
								fill-rule="evenodd"
								d="M1.654 4.276C1 5.56 1 7.24 1 10.6v2.8c0 3.36 0 5.04.654 6.324a6 6 0 002.622 2.622C5.56 23 7.24 23 10.6 23h2.8c3.36 0 5.04 0 6.324-.654a6 6 0 002.622-2.622C23 18.44 23 16.76 23 13.4v-2.8c0-3.36 0-5.04-.654-6.324a6 6 0 00-2.622-2.622C18.44 1 16.76 1 13.4 1h-2.8c-3.36 0-5.04 0-6.324.654a6 6 0 00-2.622 2.622zM13.4 3h-2.8c-1.713 0-2.878.002-3.778.075-.877.072-1.325.202-1.638.361a4 4 0 00-1.748 1.748c-.16.313-.29.761-.36 1.638C3.001 7.722 3 8.887 3 10.6v2.8c0 1.713.002 2.878.075 3.778.072.877.202 1.325.361 1.638a4 4 0 001.748 1.748c.313.16.761.29 1.638.36.9.074 2.065.076 3.778.076h2.8c1.713 0 2.878-.002 3.778-.075.877-.072 1.325-.202 1.638-.361a4 4 0 001.748-1.748c.16-.313.29-.761.36-1.638.074-.9.076-2.065.076-3.778v-2.8c0-1.713-.002-2.878-.075-3.778-.072-.877-.202-1.325-.361-1.638a4 4 0 00-1.748-1.748c-.313-.16-.761-.29-1.638-.36C16.278 3.001 15.113 3 13.4 3z"
								fill="currentColor"
							></path>
						</svg>
						<span class="visually-hidden">Instagram</span>
					</a>
				</li>

				<li class="socials-item">
					<a
						class="socials-link"
						href="#"
					>
						<svg viewBox="0 0 24 24">
							<path
								d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"
								fill="currentColor"
							></path>
						</svg>
						<span class="visually-hidden">X</span></a
					>
				</li>

				<li class="socials-item">
					<a
						class="socials-link"
						href="#"
					>
						<svg viewBox="0 0 20 20">
							<path
								d="M20 20h-4v-6.999c0-1.92-.847-2.991-2.366-2.991-1.653 0-2.634 1.116-2.634 2.991V20H7V7h4v1.462s1.255-2.202 4.083-2.202C17.912 6.26 20 7.986 20 11.558V20zM2.442 4.921A2.451 2.451 0 010 2.46 2.451 2.451 0 012.442 0a2.451 2.451 0 012.441 2.46 2.45 2.45 0 01-2.441 2.461zM0 20h5V7H0v13z"
								fill="currentColor"
							></path>
						</svg>
						<span class="visually-hidden">Linkedin</span>
					</a>
				</li>
			</ul>
		</div>

		<div class="bottom">
			<ul class="links-list">
				<li class="link-item">
					<a
						class="link"
						href="#"
					>
						Home
					</a>
				</li>
				<li class="link-item">
					<a
						class="link"
						href="#"
					>
						About
					</a>
				</li>
				<li class="link-item">
					<a
						class="link"
						href="#"
					>
						Projects
					</a>
				</li>
				<li class="link-item">
					<a
						class="link"
						href="#"
					>
						Testimonials
					</a>
				</li>
				<li class="link-item">
					<a
						class="link"
						href="#"
					>
						Team
					</a>
				</li>
				<li class="link-item">
					<a
						class="link"
						href="#"
					>
						Pricing
					</a>
				</li>
				<li class="link-item">
					<a
						class="link"
						href="#"
					>
						Blog
					</a>
				</li>
				<li class="link-item">
					<a
						class="link"
						href="#"
					>
						Contact
					</a>
				</li>
			</ul>
		</div>

		<div class="cta">
			<!-- todo - Добавить ховер на кнопку звонка и, возможно, на ссылку с номером -->
			<a
				class="cta__call-btn"
				href="tel:77045550127"
			>
				<svg
					viewBox="0 0 60 60"
					fill="none"
				>
					<path d="M0 0h60v60H0z"> </path>
					<path
						d="M30.8 20.835a.834.834 0 01.834-.834 8.343 8.343 0 018.333 8.334.834.834 0 01-1.666 0 6.674 6.674 0 00-6.667-6.667.833.833 0 01-.833-.833zM31.635 25a3.333 3.333 0 013.333 3.334.833.833 0 001.667 0 5.005 5.005 0 00-5-5 .834.834 0 000 1.666zm7.578 8.95a2.584 2.584 0 010 3.648l-.759.874c-6.825 6.534-23.433-10.07-17-16.917l.959-.833a2.568 2.568 0 013.605.033c.026.026 1.57 2.032 1.57 2.032a2.583 2.583 0 01-.005 3.568l-.965 1.214a10.65 10.65 0 005.775 5.787l1.221-.97a2.584 2.584 0 013.568-.006s2.005 1.544 2.03 1.57zm-1.147 1.211s-1.994-1.534-2.02-1.56a.916.916 0 00-1.29 0c-.023.024-1.704 1.363-1.704 1.363a.834.834 0 01-.816.126 12.507 12.507 0 01-7.35-7.34.833.833 0 01.12-.833s1.34-1.682 1.362-1.703a.917.917 0 000-1.291c-.026-.025-1.56-2.021-1.56-2.021a.917.917 0 00-1.259.033l-.958.833c-4.702 5.653 9.69 19.247 14.645 14.566l.76-.875a.934.934 0 00.07-1.298z"
						fill="#fff"
					></path>
				</svg>
				<span class="visually-hidden">Make a call</span></a
			>

			<div class="cta__content">
				<p class="cta__title">Call Us Any Time</p>
				<a
					class="cta__call"
					href="tel:77045550127"
				>
					(704) 555-0127
					<span class="visually-hidden">Make a call</span>
				</a>
			</div>
		</div>
	</div>
</div>

<style>
	.header-wrapper {
		background-color: var(--color-text-primary);
	}

	.header__inner {
		color: #fff;
		font-family: var(--font-barlow);
		font-size: 16px;
		line-height: 26px;

		width: 100%;
		max-width: 1920px;
		margin: 0 auto;

		display: grid;
		grid-template-areas:
			"logo top cta"
			"logo bottom cta";
	}

	/* LOGO */
	.logo-wrapper {
		grid-area: logo;
		align-content: center;
		padding-right: 264px;
		position: relative;
	}

	.logo-wrapper::after {
		position: absolute;
		content: "";
		display: block;
		left: 0;
		top: 0;
		height: 156px;
		width: 578px;
		background-image: url("./img/header-bg.svg");
		background-repeat: no-repeat;
		background-position: left top;
		z-index: 5;
	}

	.logo {
		display: inline-block;
		position: relative;
		z-index: 10;
	}

	.logo-img {
		width: 221px;
		height: 75px;
	}

	/* TOP */
	.top {
		grid-area: top;
		font-size: 14px;
		line-height: 24px;
		color: var(--color-text-neutral);
		padding: 16px 0;
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	}

	.adress {
		padding-left: 17px;
		background-image: url("./img/key.svg");
		background-repeat: no-repeat;
		background-position: left center;
		background-size: 8px 16px;
		margin-left: 42px;
	}

	.mail {
		padding-left: 21px;
		background-image: url("./img/mail.svg");
		background-repeat: no-repeat;
		background-position: left center;
		background-size: 12px 11px;
		margin-left: 42px;
	}

	.opening-hours {
		padding-left: 21px;
		background-image: url("./img/clock.svg");
		background-repeat: no-repeat;
		background-position: left center;
		background-size: 12px 12px;
		margin-left: 42px;

		display: inline-block;
	}

	.socials-list {
		display: inline-flex;
		gap: 20px;
		max-width: 96px;
		margin-left: auto;
		align-items: center;
	}

	.socials-link {
		display: block;
		height: 0.75rem;
	}

	/* BOTTOM */
	.bottom {
		grid-area: bottom;
		padding: 30px 0 32px;
	}

	.links-list {
		display: flex;
		gap: 30px;
		margin-left: 42px;
	}

	.link {
		font-weight: 700;
		line-height: 26px;
		position: relative;
		transition: all 0.2s linear 0s;
	}

	.link:hover {
		color: var(--color-brand-primary);
	}

	.link:hover:before {
		position: absolute;
		content: "";
		display: block;
		width: 100%;
		height: 4px;
		background-color: var(--color-brand-primary);
		left: 0;
		bottom: -37px;
	}

	/* CTA */
	.cta {
		grid-area: cta;
		display: flex;
		gap: 14px;
		align-items: center;
		padding-left: 23px;
		border-left: 1px solid rgba(255, 255, 255, 0.1);
	}

	.cta__call-btn {
		width: 60px;
	}

	.cta__title {
		font-family: var(--font-jost);
		font-size: 14px;
		line-height: 24px;
		color: var(--color-text-neutral);
	}

	.cta__call {
		font-size: 16px;
		line-height: 26px;
		font-weight: 600;
	}

	svg {
		height: 100%;
	}
</style>
