---
import MainSegment from "@components/shared/MainSegment.astro";
import Schematic from "@components/shared/Schematic.astro";
import SectionTitle from "@components/shared/SectionTitle.astro";
---

<script>
    const root = document.getElementById('testimonials');
    const slides = root?.querySelectorAll<HTMLDivElement>('.slide')!;
    const avatars = root?.querySelectorAll<HTMLDivElement>('.avatar');

    avatars?.forEach(avatar => {
        avatar.addEventListener('click', function() {
            const slideIndex = this.getAttribute('data-slide');

            if (slideIndex !== null) {
            slides.forEach(slide => slide.classList.remove('active'));
            avatars.forEach(avatar => avatar.classList.remove('active'));

            slides[parseInt(slideIndex)]?.classList.add('active');
            this.classList.add('active');
            }
        })
    })
</script>

<MainSegment>
    <Schematic/>
    <section class="testimonials" id="testimonials">
        <div class="testimonials__title">
            <SectionTitle>Our Testimonials</SectionTitle>
            <h3 class="heading">What our Clients Say About our work.</h3>
        </div>
        <div class="carousel">
            <div class="carousel__wrapper">
                <div class="carousel__slide slide">
                    <p class="quote">
                        From Start To Finish, Consik Was Exceptional. Their Ability To Stay On Schedule And Manage Every Detail Was Impressive. We Could Not Be Happier With Out Results.
                    </p>
                    <div class="author">
                        <svg width="87" height="62" viewBox="0 0 87 62" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M59.8673 0H83.2585C84.9154 0 86.2585 1.34315 86.2585 3V33.6957L66.0412 62V34.3696H52.8672C51.2104 34.3696 49.8672 33.0264 49.8672 31.3696V10C49.8672 4.47715 54.3444 0 59.8673 0Z" fill="#0E0E0E"/>
                            <path d="M9.99982 0H33.3911C35.048 0 36.3911 1.34315 36.3911 3V33.6957L16.1737 62V34.3696H2.99982C1.34296 34.3696 -0.000183105 33.0264 -0.000183105 31.3696V10C-0.000183105 4.47715 4.47698 0 9.99982 0Z" fill="#0E0E0E"/>
                        </svg>
                        <div class="author__info">
                            <span class="author__name">Sarah Johnson</span>
                            <span class="author__job">Interior Designer</span>
                        </div>
                    </div>
                </div>
                <div class="carousel__slide slide active">
                    <p class="quote">
                        Working With Consik A Fantastic Experience. They Truly Understood Our Vision And Turned Our Dream Home Into A Reality. The Attention To Detail And Dedication Were The Team.
                    </p>
                    <div class="author">
                        <svg width="87" height="62" viewBox="0 0 87 62" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M59.8673 0H83.2585C84.9154 0 86.2585 1.34315 86.2585 3V33.6957L66.0412 62V34.3696H52.8672C51.2104 34.3696 49.8672 33.0264 49.8672 31.3696V10C49.8672 4.47715 54.3444 0 59.8673 0Z" fill="#0E0E0E"/>
                            <path d="M9.99982 0H33.3911C35.048 0 36.3911 1.34315 36.3911 3V33.6957L16.1737 62V34.3696H2.99982C1.34296 34.3696 -0.000183105 33.0264 -0.000183105 31.3696V10C-0.000183105 4.47715 4.47698 0 9.99982 0Z" fill="#0E0E0E"/>
                        </svg>
                        <div class="author__info">
                            <span class="author__name">Brooklyn Simmons</span>
                            <span class="author__job">Architect Designer </span>
                        </div>
                    </div>
                </div>
                <div class="carousel__slide slide">
                    <p class="quote">
                        The Consik Team Exceeded Our Expectations. Their Professionalism Were Unmatched. They Transformed Our Office Space Into A Modern, Functional Masterpiece.
                    </p>
                    <div class="author">
                        <svg width="87" height="62" viewBox="0 0 87 62" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M59.8673 0H83.2585C84.9154 0 86.2585 1.34315 86.2585 3V33.6957L66.0412 62V34.3696H52.8672C51.2104 34.3696 49.8672 33.0264 49.8672 31.3696V10C49.8672 4.47715 54.3444 0 59.8673 0Z" fill="#0E0E0E"/>
                            <path d="M9.99982 0H33.3911C35.048 0 36.3911 1.34315 36.3911 3V33.6957L16.1737 62V34.3696H2.99982C1.34296 34.3696 -0.000183105 33.0264 -0.000183105 31.3696V10C-0.000183105 4.47715 4.47698 0 9.99982 0Z" fill="#0E0E0E"/>
                        </svg>
                        <div class="author__info">
                            <span class="author__name">Johnathan Doe</span>
                            <span class="author__job">Project Manager</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="decor"></div>
            <div class="avatars">
                <div class="avatar avatar-1" data-slide="0"></div>
                <div class="avatar avatar-2 active" data-slide="1"></div>
                <div class="avatar avatar-3" data-slide="2"></div>
            </div>
        </div>
    </section>
</MainSegment>

<style>
    .heading {
        max-width: 43rem;
        font-family: var(--font-jost);
        font-weight: 600;
        font-size: 3.25rem;
        line-height: 4.25rem;
    }

    .carousel {
        position: relative;
        display: flex;
        justify-content: space-between;
        margin-bottom: 2.6rem;
    }

    .carousel::after {
        content: "";
        position: absolute;
        bottom: -42px;
        left: 0;
        height: 3px;
        width: 100%;
        background-color: var(--color-text-primary);
        /* background: linear-gradient(to right, var(--color-text-primary) 0%, var(--color-text-primary) 50%); */
        clip-path: polygon(0 0, 0 0, 100% 33%, 0 100%);
    }

    .carousel__slide {
        padding-top: 3.25rem;
    }

    .slide {
        display: none;
    }

    .slide.active {
        display: block;
    }

    .quote {
        margin-bottom: 2.5rem;
        max-width: 60rem;
        font-family: var(--font-jost);
        font-weight: 400;
        font-size: 2rem;
        color: var(--color-text-neutral-dark); 
    }

    .author {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .author__info {
        display: flex;
        flex-direction: column;
        margin-left: 2rem;
    }

    .author__name {
        font-family: var(--font-jost);
        font-weight: 600;
        font-size: 2rem;
    }

    .author__job {
        font-family: var(--font-barlow);
        font-weight: 400;
        font-size: 1.5rem;
        color: var(--color-text-neutral-dark);
    }

    .decor {
        width: 17.5rem;
        background-image: url('img/shape.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    .avatars {
        display: flex;
        flex-direction: column;
        gap: 1.7rem;
        min-width: 5.7rem;
    }

    .avatar {
        border: 2px solid white;
        border-radius: 50%;
        width: 4.4rem;
        height: 4.4rem;
        background-color: red;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        transform: scale(1);
        transition: border-color .2s ease-in-out, transform .2s ease-in-out;
        cursor: pointer;
    }

    .avatar:hover {
        border-color: var(--color-brand-primary);
    }
    .avatar.active {
        border-color: var(--color-brand-primary);
        transform: scale(1.55);
    }

    .avatar-1 {
        background-image: url('img/worker-1.jpg');
    }

    .avatar-2 {
        background-image: url('img/worker-2.jpg');
    }

    .avatar-3 {
        background-image: url('img/worker-3.jpg');
    }
</style>