<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width"
		/>
		<title>Charity Hackathon 2024 - Team 7</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	@import url(@assets/reset.css);
	@import url(@assets/tokens.css);
</style>
