<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width"
		/>
		<title>Charity Hackathon 2024 - Team 7</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	@import url(@assets/reset.css);
	@import url(@assets/tokens.css);

	:root {
		font-family: var(--font-jost);
		color: var(--color-text-primary);
	}

	.visually-hidden {
		position: absolute;
		width: 1px;
		height: 1px;
		margin: -1px;
		padding: 0;
		border: 0;
		clip: rect(0 0 0 0);
		overflow: hidden;
	}
</style>
